@page
@model Estelav.Pages.Cart.ConfirmModel
@{
}

<p style="    text-align: center;
          margin-top: 50px;">
    Your order #@ViewData["orderId"] is successfully submitted! Wait for our manager to contact you
    
    <br/>
    
    <a asp-page="/Index">Go To Main Page</a>
</p>
