<a asp-page="/Cart/Index" style="color: black;">
    <img width="25" height="25" src="~/img/bag.png" style="position: relative; top: 8px; margin-right: 10px;"/>
</a>

<a asp-page="/Cart/Index" style="color: black;" class="profile_link">Cart</a>