<style>
    span:hover{
        border-bottom: none!important;
    }
</style>

<span style="color: black; margin-right: 17px; font-size: 13px; text-decoration: none;">
    <a asp-page="/Index" asp-page-handler="SetCulture" asp-route-culture="en-US" style="font-weight:bold; color: black;">EN</a> |
    <a asp-page="/Index" asp-page-handler="SetCulture" asp-route-culture="cz-CZ" style="color: black;">CZ</a> |
    <a asp-page="/Index" asp-page-handler="SetCulture" asp-route-culture="ru-RU" style="color: black;">RU</a> 
</span>