@page
@model Estelav.Pages.Account.LoginModel
@{
}

<div class="layout-main">
    <div class="login__row-layout" style="justify-content: center!important; ">
        <div class="loginFormMain">
            <form class="login__form login__form_mob-active" id="form-login" asp-action="/Login" method="post">
                <h2 class="title title_fourth">LOGIN</h2>
                <fieldset class="layout-form-vert-1">
                    <div class="layout-form-row">
                        <label for="auth-email">E-mail</label><input class="input" type="text" id="auth-email" name="login-form[login]" value="">
                        <div class="login__err-mess"></div>
                    </div>
                    <div class="layout-form-row">
                        <label for="auth-pass">Password</label><input class="input" type="password" id="auth-pass" name="login-form[password]" value="">
                        <div class="login__err-mess">тест</div>
                    </div>

                    <button style="height: 60px; width: 100%; background-color: black; border-radius: 10px; color: white;">Sign In</button>

                    @*<div class="layout-form-row">
                        <input class="button button_login" type="submit" value="Sign In">
                    </div>*@
                </fieldset>
            </form>
        </div>
        
    </div>
</div>
