@page
@model Estelav.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Register Confirmation";
}

<p style="    text-align: center;
          margin-top: 50px;">
    You account with email @Model.Email is registered sucessfully.
</p>
