@page
@model IndexModel
@{ ViewData["Title"] = "Estelav Shop"; }


<div class="main-image-cont">
    <a asp-page="/Items" asp-route-id="5">
        <img src="~/img/top.jpg" style="width: 100%;" />
    </a>

</div>


<div class="index" itemscope itemprop="mainContentOfPage">
    <div class="layout">
        <a class="index__header index__col">

            <div class="index__header-text">
                <h1 class="title index__header-title "> </h1>
                <div class="button button-sixth "></div>
            </div>
        </a>
        <div class="layout-main">
            <div class="index__row">
                <a class="index__col" asp-page="/Items" asp-route-id="1">
                    <picture>

                        <img src="~/img/merch/bag.jpg" alt="">
                    </picture>
                    <div class="index__col-content index__col-content_hCenter index__col-content_vBottom">
                        <div class="title title_third "></div>
                        <div class="button button-sixth "> Bags </div>
                    </div>
                </a>
                <a class="index__col" asp-page="/Items" asp-route-id="2">
                    <picture>

                        <img src="~/img/merch/shoes.jpg" alt="2">
                    </picture>
                    <div class="index__col-content index__col-content_hCenter index__col-content_vBottom">
                        <div class="title title_third "></div>
                        <div class="button button-sixth "> Shoes </div>
                    </div>
                </a>
                <a class="index__col" asp-page="/Items" asp-route-id="3">
                    <picture>

                        <img src="~/img/merch/swim.jpg" alt="">
                    </picture>
                    <div class="index__col-content index__col-content_hCenter index__col-content_vBottom">
                        <div class="title title_third "></div>
                        <div class="button button-sixth "> Swimsuits </div>
                    </div>
                </a>
            </div>
            <div class="index__row-second">
                <a class="index__col" asp-page="/Items" asp-route-id="4">
                    <picture>

                        <img src="~/img/img4.jpg" alt="">
                    </picture>
                    <div class="index__col-content index__col-content_hCenter index__col-content_vBottom">
                        <div class="title title_third "></div>
                        <div class="button button-sixth "> Dresses </div>
                    </div>
                </a>
                <a class="index__col" asp-page="/Items" asp-route-id="4">
                    <picture>

                        <img src="~/img/img5.jpg" alt="">
                    </picture>
                    <div class="index__col-content index__col-content_hCenter index__col-content_vBottom">
                        <div class="title title_third "></div>
                        <div class="button button-sixth ">  Dresses </div>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <div class="horisontal-ecards-slider index__recommend">
        <div class="horisontal-ecards-slider__header">
            <h2 class="horisontal-ecards-slider__title"><span>WE RECOMMEND</span></h2>
            <div class="horisontal-ecards-slider__sub-title"></div>
        </div>
        <div class="horisontal-ecards-slider__layout">
            <li>
                <div class="e-card-1">
                    <a class="e-card-1__layout-inside">
                        <div class="e-card-1__layout-slider"><img src="~/img/merch/dress1.png" width="250" height="400"></div>
                        <span class="e-card-1__title"> Brown Dress </span>
                    </a>
                    <div class="e-card-1__price-wrap"><span class="e-card-1__price">1199 грн</span><a class="e-card-1__favorite"></a></div>
                </div>
            </li>
            <li>
                <div class="e-card-1">
                    <a class="e-card-1__layout-inside">
                        <div class="e-card-1__layout-slider"><img src="~/img/merch/dress2.png" width="250" height="400"></div>
                        <span class="e-card-1__title">Pink Dress </span>
                    </a>
                    <div class="e-card-1__price-wrap"><span class="e-card-1__price">1099 грн</span><a class="e-card-1__favorite"></a></div>
                </div>
            </li>
            <li>
                <div class="e-card-1">
                    <a class="e-card-1__layout-inside">
                        <div class="e-card-1__layout-slider"><img src="~/img/merch/dress1.png" width="250" height="400"></div>
                        <span class="e-card-1__title">Brown Dress </span>
                    </a>
                    <div class="e-card-1__price-wrap"><span class="e-card-1__price">459 грн</span><a class="e-card-1__favorite"></a></div>
                </div>
            </li>
            <li>
                <div class="e-card-1">
                    <a class="e-card-1__layout-inside">
                        <div class="e-card-1__layout-slider"><img src="~/img/merch/dress1.png" width="250" height="400"></div>
                        <span class="e-card-1__title">Pink Dress </span>
                    </a>
                    <div class="e-card-1__price-wrap"><span class="e-card-1__price">699 грн</span><a class="e-card-1__favorite"></a></div>
                </div>
            </li>
            <li>
                <div class="e-card-1">
                    <a class="e-card-1__layout-inside">
                        <div class="e-card-1__layout-slider"><img src="~/img/merch/dress2.png" width="250" height="400"></div>
                        <span class="e-card-1__title">Brown Dress </span>
                    </a>
                    <div class="e-card-1__price-wrap"><span class="e-card-1__price">1299 грн</span><a class="e-card-1__favorite"></a></div>
                </div>
            </li>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#shopNowButton').click(function (e) {
            e.preventDefault();

            $('html, body').animate({
                scrollTop: $('#main-cards').offset().top
            }, 500);
        });
    });

</script>

@*<div style="justify-content: center; text-align: center; width: 100%; " id="main-cards">

                <div class="top-3-cards" style="flex-direction: row; flex-basis: auto; flex-wrap: wrap;">

                    <div class="main-image-row">
                        <a asp-page="/Items" asp-route-id="1">

                            <p>BAGS</p>
                            <img src="~/img/merch/bag.jpg" />
                        </a>
                    </div>

                    <div class="main-image-row">
                        <a asp-page="/Items" asp-route-id="2">
                            <p>SHOES</p>
                            <img src="~/img/merch/shoes.jpg" />
                        </a>
                    </div>

                    <div class="main-image-row">
                        <a asp-page="/Items" asp-route-id="3">
                            <p>SWIMSUITS</p>
                            <img src="~/img/merch/swim.jpg" />
                        </a>
                    </div>

                </div>

                <div class="top-2-cards">
                    <div class="main-image-row">
                        <p style="top: 55%;">DRESSES</p>
                        <img src="~/img/merch/dress1.png" style="height: 500px; " />
                    </div>

                    <div class="main-image-row">
                        <p style="top: 55%;">DRESSES</p>
                        <img src="~/img/merch/dress2.png" style="height: 500px; " />
                    </div>

                </div>
            </div>

            <div class="layout-main">

                <a class="index__row">
                    <picture>
                        <img src="~/img/img1.jpg" />
                    </picture>

                    <div class="index__col-content index__col-content_hCenter index__col-content_vBottom">
                        <div class="title title_third "></div>
                        <div class="button button-sixth ">Футболки &amp; топи</div>
                    </div>

                </a>

                <a class="index__row">
                    <picture>
                        <img src="~/img/img2.jpg" />
                    </picture>

                    <div class="index__col-content index__col-content_hCenter index__col-content_vBottom">
                        <div class="title title_third "></div>
                        <div class="button button-sixth ">Футболки &amp; топи</div>
                    </div>

                </a>

                <a class="index__row">
                    <picture>
                        <img src="~/img/img3.jpg" />
                    </picture>

                    <div class="index__col-content index__col-content_hCenter index__col-content_vBottom">
                        <div class="title title_third "></div>
                        <div class="button button-sixth ">Футболки &amp; топи</div>
                    </div>

                </a>


        </div>







    <p style="font-size: 40px; width: 100%; text-align: center; font-weight: bold;">BESTSELLERS</p>

    <div class="item-cards" style="display: flex; flex-direction: row; flex-basis: auto; justify-content: space-evenly; margin-bottom: 25px; flex-wrap: wrap;">
        <div class="item-card">
            <img src="~/img/merch/dress1.png" />
            <div class="item-descr" style="display: flex; flex-direction: column;">
                <span class="sizes">40-41-42-43</span>
                <span class="item-name">Dress</span>
                <span class="price">50$</span>
                <button>Add to Cart</button>
            </div>
        </div>


        <div class="item-card">
            <img src="~/img/merch/dresses.jpg" />
            <div class="item-descr" style="display: flex; flex-direction: column;">
                <span class="sizes">40-41-42-43</span>
                <span class="item-name">Dress</span>
                <span class="price">50$</span>
                <button>Add to Cart</button>
            </div>
        </div>

        <div class="item-card">
            <img src="~/img/merch/dress2.png" />
            <div class="item-descr" style="display: flex; flex-direction: column;">
                <span class="sizes">40-41-42-43</span>
                <span class="item-name">Dress</span>
                <span class="price">50$</span>
                <button>Add to Cart</button>
            </div>
        </div>

        <div class="item-card">
            <img src="~/img/merch/dress3.png" />
            <div class="item-descr" style="display: flex; flex-direction: column;">
                <span class="sizes">40-41-42-43</span>
                <span class="item-name">Dress</span>
                <span class="price">50$</span>
                <button>Add to Cart</button>
            </div>
        </div>

    </div>
*@
