@page
@model Estelav.Pages.Panel.AdminPanelModel
@{
}

<span style="font-size: 30px; font-weight: bold; display: block; text-align: center;">Admin Panel</span>
<br/>
<div style="width: 50%; align-content: center; align-items: center; text-align: center; margin: auto;">
    <a style="padding: 15px 40px 10px 40px; text-decoration: none; color: white;" asp-page="/Panel/ItemsManager" class="addToCartBtn">Items Manager</a>
    <a style="padding: 15px 40px 10px 40px; text-decoration: none; color: white;" asp-page="/Panel/Orders" class="addToCartBtn">Orders Manager</a>
</div>
<hr />
