@page
@model Estelav.Pages.Panel.AdminPanelModel
@{
}

<span>Admin Panel</span>
<hr/>
<div style="width: 50%; align-content: center; align-items: center; text-align: center; margin: auto;">
    <a asp-page="/Panel/ItemsManager" class="addToCartBtn">Items Manager</a>
    <a asp-page="/Panel/Orders" class="addToCartBtn">Orders Manager</a>
</div>