@page
@model Estelav.Pages.Panel.ItemsManagerModel
@{
}

<div style="display: flex; flex-direction: column; align-items: center;">
    <span>Add Items</span>
    
    <div style="height: 300px; width: 80%; background: #EFDBDC; display: flex; flex-direction: row; align-items: flex-start">
        <span>Describe in detail</span>
        <input/>
        
        <br/>
        <span>Category</span>
        <select>
            <option>New In</option>
        </select>

    </div>
    
    
    <br/>
    
    <div style="height: 300px; width: 80%; background: #EFDBDC; display: flex; flex-direction: row; align-items: flex-start">
        <span>Photo</span>

    </div>
    
    
    <div style="height: 300px; width: 80%; background: #EFDBDC; display: flex; flex-direction: row; align-items: flex-start">
        <span>Desciption</span>

    </div>

</div>